<ul>
  <% @imovies.each do |imovie| %>
    <li><a href="/movies/display/<%= imovie.id %>"><%= imovie.title %></a>
      <%= button_to "Add to Favorites", add_movie_fave_path(movie_id: imovie.id) %>
    </li>
  <% end %>
</ul>
